@charset 'utf-8';
@import "~bulma/sass/utilities/functions";
@import './custom.scss';


* {
    box-sizing: border-box !important;
}


$primary: $custom-purple;
$dark: $custom-purple-dark;

@import "~bulma/bulma.sass";

@import "~rbx/rbx.sass";