@import './custom_colors.scss';
.auth {
    background-color: $custom-purple;
    height: calc(100% - 58px);
}


#edit-user {
    background-color: $custom-purple;
    height: 100%;
}

.auth-card {
    border: 1px solid #d3d3d3;
    box-shadow: 0px 5px 15px #504e4e !important;
    border-radius: 8px;
}

.auth-form {
    width: 100%;
}

.buttons {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
}


@media screen and (max-width: 800px) {
    .auth {
        height: 100vh;
    }
}

@media screen and (min-width: 824px) and (max-width: 950px) {
    .auth {
        height: 160vh;
    }
}