@import './custom.scss';
.auth {
    background-color: $custom-purple;
    height: calc(100% - 58px);
}


#edit-user {
    background-color: $custom-purple;
    height: auto;
}

.auth-card {
    border: 1px solid #d3d3d3;
    box-shadow: 0px 5px 15px #504e4e !important;
    border-radius: 8px !important;
}

.auth-form {
    width: 100%;
}

.buttons {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
}


@media screen and (max-width: 950px) {
    .auth, #edit-user {
        height: 100vh !important;
    }
    body {
        overflow-x: hidden;
    }
}

// @media screen and (min-width: 824px) and (max-width: 950px) {
//     .auth {
//         height: auto;
//     }
// }