@import "./custom.scss";

.home {
    background-color: $custom-purple;
    height: calc(100% - 58px);
    overflow: hidden;
}


#page-title {
    letter-spacing: -0.75px;
    font-weight: bold;
}


#page-subtitle {
    font-weight: 400;
    
}

#left-home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width: 800px) {
    .home {
        height: 100vh !important;
        overflow: scroll;
    }
}