html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}



.fadein {
    animation: fadeIn 0.5s 1 ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}