@import "./custom.scss";

.notes {
    height: calc(100% - 70px);
    margin: 0 !important;
    padding: 0 !important;
}


.bm-menu {
    background-color: #ffffff;
    padding: 10px;
}

.bm-overlay {
    width: 120% !important;
}

#note-title-column {
    justify-content: space-between;
}

#note-title {
    padding: 0;
    border: none;
    box-shadow: none;
    font-size: 13pt;
    font-weight: bold;
}


.list-item.is-active {
    background-color: $custom-gray-light !important;
}


.notes-editor {
    padding: 0 !important;
    height: calc(100% - 25px);
    position: relative;
    margin: 0 auto;

    .quill {
        height: 100%;

        .ql-container {
            height: calc(100% - 43px);
            overflow: auto;
        }
    }
}

#cloud-icon-saved, #cloud-icon-saving {
    font-size: 12pt;
    position: absolute;
    right: 10px;
    top: 43px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width: 1115px) {
    #cloud-icon-saved>span, #cloud-icon-saving>span {
        display: none;
    }

    #cloud-icon-saved, #cloud-icon-saving {
        top: 15px;
    }

    .notes-editor {
        width: 100% !important;
    }
}