@import "node_modules/bulma/bulma";
@import "node_modules/rbx/rbx";

$custom-purple: #694ED8;
$custom-purple-dark: #6600CC;
$custom-gray-light: #e4e4e4;

$custom-colors: (
    "custom-purple": ($custom-purple),
    "custom-purple-dark": ($custom-purple-dark),
    "custom-gray-light": ($custom-gray-light)
);

@import "node_modules/bulma/bulma";
@import "node_modules/rbx/rbx";


html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}



.fadein {
    animation: fadeIn 0.5s 1 ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


